@model School_CumulativeProject1.Models.Teacher

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Confirm delete below teacher?</h2>
<p>Teacher ID: @Model.TeacherId</p>
<p>First Name: @Model.TeacherFname</p>
<p>Last Name: @Model.TeacherLname</p>
<p>Employee No: @Model.EmployeeNo</p>
<p>Hire Date: @Model.HireDate</p>
<p>Salary: $@Model.Salary</p>

<form action="/Teacher/Delete/@Model.TeacherId" method="POST">
    <button>Confirm Delete</button>
</form>
