@model School_CumulativeProject1.Models.Teacher
@{
    ViewBag.Title = "About Teacher";
}

<a style="color:red" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
<a style="margin-left:20px" href="/Teacher/Update/@Model.TeacherId">Update</a>


<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<p>Teacher ID: @Model.TeacherId</p>
<p>First Name: @Model.TeacherFname</p>
<p>Last Name: @Model.TeacherLname</p>
<p>Employee No: @Model.EmployeeNo</p>
<p>Hire Date: @Model.HireDate</p>
<p>Salary: $@Model.Salary</p>

