@model School_CumulativeProject1.Models.Course

@{
    ViewBag.Title = "About Course";
}

<h2>@Model.CourseName</h2>
<p>Course ID: @Model.CourseId</p>
<p>Course Code: @Model.CourseCode</p>
<p>Teacher ID: @Model.TeacherId</p>
<p>Start Date: @Model.StartDate</p>
<p>Finish Date: @Model.FinishDate</p>

