@model School_CumulativeProject1.Models.Student

@{
    ViewBag.Title = "About Student";
}

<h2>@Model.StudentFname @Model.StudentLname</h2>
<p>Student ID: @Model.StudentId</p>
<p>First Name: @Model.StudentFname</p>
<p>Last Name: @Model.StudentLname</p>
<p>Student No: @Model.StudentNo</p>
<p>Enroll Date: @Model.EnrollDate</p>

